body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

    form label, form select, form input, form button {
        margin: 0 10px;
        padding: 5px;
    }

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: #fff;
}

#result {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

    button:hover {
        background-color: #45a049;
    }
